h1, h2 {
    color: #C3073F;
    font-family: 'Lobster';
}

header {
  padding: 20px;
  text-align: center;
  background: #1A1A1D;
  font-size: 10px;
  font-family: 'Lobster';
  }

a:link, a:visited {
 text-decoration: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1A1A1D;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Arial';
  font-size: 18px;

}

.sidebar ul{
  list-style: none;
}

.sidebar ul img {
 margin: 16px;

}

.sidebar a:visited  {
  color: #C3073F;
}


.sidebar a:hover {
  background-color: #4E4E50;
  color: #C3073F;
  font-size: 20px;
}


.content {
  margin-left: 200px;
  padding: 1px 16px;
  background-color: #4E4E50;


}

body {
  background-color: #4E4E50;
}

.container {
  background-color: #4E4E50;


}

.album {
  background-color: #4E4E50;

}

.card-body {
  background-color: #4E4E50;

}

.card-img-top {
    width: auto;
}

.text-muted {
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-color:  #C3073F;
    border-radius: 5px;
}