h1, h2 {
    color: #C3073F;
    font-family: 'Lobster';
}

header {
  padding: 20px;
  text-align: center;
  background: #1A1A1D;
  font-size: 10px;
  font-family: 'Lobster';
  }

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1A1A1D;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Arial';
  font-size: 18px;
  color: #C3073F;
}


.sidebar a.active {
  background-color: #C3073F;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #4E4E50;
  color: white;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;

}

body{
  background-color: #4E4E50;
}
